#game-page {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.info {
  padding: 20px;
  width: 300px;
}

.next {
  text-decoration: underline;
}

.typed {
  background-color: indigo;
}

.comentator {
  width: 18vw;
  height: fit-content;
  padding: 30px;
  font-style: italic;
  border: 3px solid gray;
  margin-left: 20px;
}

.game {
  width: 50vw;
  height: 70vh;
  border: 2px solid black;
  position: relative;
}

#time-left {
  position: absolute;
  right: 10px;
  top: 10px;
}

#game-text {
  font-size: 20px;
}

.typed {
  background-color: grey;
}

#ready-button {
  text-transform: uppercase;
  font-size: 40px;
  height: 200px;
  width: 60%;
  border: 2px solid gray;
}

#progress-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.progress {
  margin-top: 10px;
}

#timer {
  font-size: 50px;
}

.progressbar {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  position: relative;
}

.progressbar {
  opacity: .5;
}

.progress.finished .progressbar {
  opacity: 1;
}

.username {
  margin-bottom: 5px;
}

.username::before {
  content: "⬤";
  color: red;
  padding-right: 5px;
}

.progress.active > .username::before {
  color: green;
}
