#rooms-page {
    padding: 40px;
}

.title {
    display: block;
    margin-bottom: 20px;
}

.button {
    display: block;
    height: 40px;
    background-color: lightgray;
}

#rooms-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.room {
    position: relative;
    display: grid;
    padding: 10px;
    grid-template-rows: 10% 40% 50%;
    margin: 20px auto;
    max-width: 200px;
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    background-color: lightgrey;
}

.room-connected {
    font-size: 14px;
    text-align: right;
}